.circle-logos {
  margin: 0px 10px;
}
.circle-heading {
  color: #36536b;
  font-family: DM Serif Display;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: -0.246154px;
  margin-bottom: 30px;
}
.circle-parag {
  font-family: Public Sans;
  font-size: 15px;
  line-height: 28px;
  opacity: 0.7;
}
@media only screen and (min-width: 1024px) {
  .circles {
    margin: 0 10%;
  }
}
