
.navbar{
    align-items: center;
    padding-bottom: 55% !important;
}   
.btn-open{
    margin-top: 0px; 
    margin-right: -10px;   
}
.main-nav{
    display: none;
}
.btn-div{
    display: none;
}

/* HAMBURGER MENU */

.hamburgerMenu{
    height: 100vh;
    width: 500%;
    background-color: black;
    position: absolute;
    top: -30px;
    right: -70%;
    align-items: center;
    display: block;
    z-index: 2;
}
.menu-nav a{
    color: #FBFCFE;
    opacity: 0.7;
    display: inline-block;  
    margin: 10px;
    font-weight: bold;
}

.line{
    background-color: #FBFCFE;
    opacity: 0.3;
    margin: 80px 40px;
    margin-bottom: 50px;
    height: 1px;
}


@media only screen and (min-width: 768px) {
    .navbar{
        padding-bottom: 35%;
    }
    .btn-open{
            display: none; 
            }
    .main-nav{
        display: flex;
    }
    .btn-div{
        display: flex;
        margin-top: -10px;
        margin-left: 100px;
    }
    .main-nav ul{
        display: flex;
        flex-direction: row;
        margin-right: 250px;
    }
    .main-nav a{
        color: #36536B;
        opacity: 0.7;
        display: inline-block;  
        margin:  0 10px;
        font-weight: bold;
    }
    }

@media only screen and (min-width: 1024px) {

    .navbar{
        align-items: left;
    }
    .main-nav{
        display: flex;
        margin-left: -200px;
    }
}

